body{
    background-color: #f1f2f0;
}
.banner-section {
    background-image: url(topBanner.png);
    background-size: cover;
    background-position: center;
    height: 425px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.banner-content h2 {
    font-size: 4em;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.banner-content p {
    font-size: 1.5em;
    color: #e7d6b9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #d9d9d9; /* Set background color */
    color: #181a16; /* Set text color */
    text-align: center; /* Center text */
    padding: 1rem 0; /* Add vertical padding (py-3 equivalent) */
}


footer p, footer a {
    color: #181a16;
}


footer p {
    margin: 5px 0;
}

/* General Navigation Bar Styling */
#menu {
    background-color: #dee1dc;
    padding: 10px 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo and Title Styling */
.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-left: 3px; /* Adds space between the logo and the text */
}

.logo-text {
    color: white;
    font-size: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* Navbar Styling */
.navbar {
    color: #fff;
}

.navbar-nav {
    padding: 0;
}

.navbar-nav .nav-item {
    display: inline-block;
    margin: 0 5px; /* Adjusts spacing between items */
}

.navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
